{% load static %}
<!DOCTYPE html>
<html>
<head>
  <title>CRUD App</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
      
  
    <div class="container mt-4">
      <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="banner">
                    <div class="banner-text" style="text-align:center;">
                        <h1>SIMPLE CRUD OPERATION</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
        {% block content %}
        {% endblock %}
    </div>

  
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
